/* app global css */

.sombra_svg {
	/*box-shadow:1px 1px 2px #333;*/
	-webkit-filter: drop-shadow(0px 0px 5px #333);
	filter: drop-shadow(0px 0px 5px rgba(12, 12, 12, 0.267));
}
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    {background-color: #ffffff}

	@media screen and (min-width: 800px) {thead tr th
   {position: sticky; z-index: 1}
  thead tr:first-child th
    {top: 0}}

    /* CSS de Bancos */

@media screen and (min-width: 1023px) {.pcform {padding-right: 20px}}
@media screen and (max-width: 1023px) {.pcmovil {padding-right: 20px}}
@media screen and (max-width: 600px) {.btnmovil {margin-top: 14px;margin-bottom: -14px;}}

.q-field__control {
  padding-left: 20px !important
}

.itemMovilSide {
  padding-left: 70px !important
}

.q-item {
  padding-top: 10px !important;
}

.q-item__label {
  font-size: 12px;
}


@media screen and (max-width: 1024px) {.cardMarginButton {margin-top: 15px;}}

@media screen and (min-width: 600px) {.inputestadospc {margin-right: 20px;margin-left:20px;}}
@media screen and (max-width: 600px) {.inputestadospc2 {margin-top: 20px;}}
@media screen and (max-width: 600px) {.inputestadospc2 {margin-top: 20px;}}
@media screen and (min-width: 1023px) {.inputestadospc2 {margin-right: 20px;}}
@media screen and (max-width: 600px) {.insertarmovil {margin-top: 20px;margin-bottom: -14px;}}
@media screen and (max-width:1023px) {.insertarestadosmovil {margin-top: 20px;margin-bottom: -14px;}}
@media screen and (min-width: 1023px) {.inputciudadespc {margin-right: 15px;margin-left:20px;}}
@media screen and (min-width: 1023px) {.inputciudadespc2 {margin-right: 15px;}}
@media screen and (max-width: 1023px) {.inputciudadespc {margin-right: 10px;}}
@media screen and (min-width: 1023px) {.inputpc {margin-right: 13px}}
@media screen and (max-width: 1023px) {.inputpc {margin-right: 15px;margin-top: 20px;}}
@media screen and (min-width: 1023px) {.inputpc {margin-right: 12px}}
@media screen and (max-width: 1023px) {.inputpc {margin-right: 15px;margin-top: 20px;}}
@media screen and (max-width: 600px) {.inputciudadespc2 {margin-top: 20px;}}
@media screen and (max-width: 600px) {.inputpc {margin-top: 20px}}
@media screen and (min-width: 500px) {.pagina {margin-left: 60px;padding-top:60px; margin-bottom: 60px;}}
@media screen and (min-width: 500px) {.dashboard {margin-left: 60px;margin-top:55px}}
@media screen and (max-width: 500px) {.pagina {margin-top:45px; padding-bottom: 50px;}}
@media screen and (min-width: 500px) {.paginaManual {margin-left: 360px;margin-top:25px}}
@media screen and (max-width: 500px) {.paginaManual {margin-top:15px}}
@media screen and (min-width: 1130px) {.inputManual {margin-left: 37px; text-align: center}}
@media screen and (max-width: 1130px) {.hideSeparatorManual {display: none;}}
@media screen and (max-width: 1080px) {.imageManualMovil {display: none;}}
@media screen and (min-width: 1080px) {.imageManualPc {display: none;}}
@media screen and (max-width: 1080px) {.textMovil {margin-top: 20px;}}
.input {color: black;}
.displayHide {display: none;}
.displayShow {display: block;}
.loading {padding-top: 50px;}

@media screen and (min-width: 600px) {.movilTitle {display: none;}}
@media screen and (max-width: 600px) {.movilTitle {display: block;}}
@media screen and (min-width: 1024px) {.cardMargin {padding-right: 20px !important;}}
@media screen and (max-width: 1024px) {.cardMarginMobile {padding-right: 20px !important;}}
@media screen and (min-width: 1024px) {.cardMarginFilter {padding-right: 20px !important;}}
@media screen and (max-width: 1024px) {.buttonMargin {margin-bottom: 15px !important;}}
@media screen and (max-width: 600px) {.selectMobile {margin-bottom: 15px !important;}}
@media screen and (max-width: 1024px) {.selectMobile2 {margin-bottom: 15px !important;}}
@media(min-width:1024px) and (max-width:1440px){.selectMobile3 {margin-top: 20px !important;}}
@media screen and (min-width: 1024px) {.Cards {width: 45% !important; padding-left: 20px !important;}}
@media screen and (max-width: 1024px) {.botonesGuias {margin-top: 7px;}}
@media screen and (min-width: 1024px) {.buttonsMobile {display: none;}}
@media screen and (min-width: 1024px) {.buttonsCard {margin-top: 25px;}}
@media screen and (max-width: 1024px) {.buttonsMenu {margin-top: 25px; margin-bottom: 25px;}}

.my-custom-toggle {border: 1px solid rgba(0, 0, 0, 0.24);}

.h4-text {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
}
